<h1>Sign up today!</h1>
<p class="lead">
	Sign up in 30 seconds and start making your shopping list ASAP!
</p>
<p>
	<a class="btn btn-lg btn-success" href=<%= users_new_path %> role="button">Sign up</a>
</p>