<% provide(:title, "Home") %>
<div class="jumbotron">
	<h1>Sign up today!</h1>
	<p class="lead">
		Sign up in 30 seconds and start making your shopping list ASAP!
	</p>
	<p>
		<a class="btn btn-lg btn-success" href="#" role="button">Sign up</a>
	</p>
</div>

<div class="row marketing">
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>More information can be written here for your convienence</p>
	</div>
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>More information can be written here for your convienence</p>
	</div>
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>More information can be written here for your convienence</p>
	</div>
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>More information can be written here for your convienence</p>
	</div>
</div>