<% provide(:title, "Home") %>
<div class="jumbotron">
	<% if logged_in? %>
		<%= render 'static_pages/home_logged_in' %>
	<% else %>
		<%= render 'static_pages/home_not_logged_in' %>
	<% end %>
</div>

<div class="row marketing">
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>More information can be written here for your convienence</p>
	</div>
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>More information can be written here for your convienence</p>
	</div>
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>More information can be written here for your convienence</p>
	</div>
	<div class="col-lg-6">
		<h4>Subheading</h4>
		<p>More information can be written here for your convienence</p>
	</div>
</div>