$(document).ready(function () {
  addNewItem();
});

//ex) will append to <div id='append47'></div>
function addNewItem(){
	var categoryId = '<%= params[:user_item][:category_id] %>';
	console.log('#append' + categoryId);
	$('#append' + categoryId).append("<tr><%= j render 'shared/list_item_form', list: @list, item: @user_item %></tr>");
}