$(document).ready(function () {
  addNewItem();
});

//ex) will append to <div id='append47'></div>
//should append list_item nested form?
//so user_item controller has to make new user_item and list item?
function addNewItem(){
	var categoryId = '<%= params[:user_item][:category_id] %>';
	$('#append' + categoryId).append("<%= j render 'shared/list_item_form', list: @list, category_id: @category.id %>");
}