@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {
	max-width: 730px;
}

.header {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;

	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		line-height:40px;
	}
}

.jumbotron {
	text-align: center;
}

.marketing {
	margin: 40px 0;
}

.footer {
	border-top: 1px solid #e5e5e5;
	color: #777;
	padding-top: 20px;
}

.label {
	float: left;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
	margin-top: 1px;
  width: auto;
  margin-left: 0;
}

/* List Form */

.new-list {
	text-align:left;
}

.category{
	width: 75%;
	display: inline-block;
}

.dropdown-button {
	border: 1px solid #b3abab;
	font-size: 20px;
	padding: 5px;
	padding-bottom: 0px;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	display: inline;
}

.items {
	border: 1px solid black;
	background-color: white;
	/* checkbox */
	#list_list_item__user_item_id {
		
	}
	th {
		border: 1px solid #b3abab;
		padding: 10px;
		text-align: center;
	}
	tr {
		border: 1px solid #b3abab;
	}
	td {
		border: 1px solid #b3abab;
		text-align: center;
		padding: 5px;
	}
}

.create-list {
	text-align: center;
}

/* new form */

#new-item {
	background-color: white;
	border: 1px solid #b3abab;
	border-radius: 5px;
	margin-top: 10px;
	width: 75%;
	padding:10px;
}


#new-category {
	background-color: white;
	border: 1px solid #b3abab;
	border-radius: 5px;
	margin-top: 10px;
	width:75%;
	padding:10px;
}

.txt {
	width: 100px;
}

.num {
	width: 50px;
}

.price {
	width: 75px;
}

/* List Index */

.lists {
	font-size: 45px;
	ul {
		text-align: left;
		list-style: none;
		li {
			font-size:20px;
			margin-top: 5px;
			margin-bottom: 5px;
			border-bottom: 1px solid #ccc;
		}
	}
}

.edit-list-links {
	font-size: 15px;
	font-style: italic;
	margin-left: 5px;
}

/* List Show */
#list-name {
	text-align: center;
	text-decoration: underline;
}