@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.container {
	max-width: 730px;
}

.header {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;

	h3 {
		margin-top: 0px;
		margin-bottom: 0px;
		line-height:40px;
	}
}

.jumbotron {
	text-align: center;
}

.marketing {
	margin: 40px 0;
}

.footer {
	border-top: 1px solid #e5e5e5;
	color: #777;
	padding-top: 20px;
}

.label {
	float: left;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
	margin-top: 1px;
  width: auto;
  margin-left: 0;
}