<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li class="active" role="presentation">
				<%= link_to "Home", root_url %>
			</li>
			<li role="presentation">
				<%= link_to "About", static_pages_about_path %>
			</li>
			<% if logged_in? %>
				<li role="presentation">
					<%= link_to "Sign Out", logout_path %>
				</li>
			<% else %>
				<li role="presentation">
					<%= link_to "Sign In", login_path %>
				</li>
			<% end %>
		</ul>
	</nav>
	<h3 class="text-muted">Grocery App</h3>
</div>
