<div class="header clearfix">
	<nav>
		<ul class="nav nav-pills pull-right">
			<li class="active" role="presentation">
				<%= link_to "Home", "#" %>
					
			</li>
			<li role="presentation">
				<%= link_to "About", "#" %>
			</li>
			<li role="presentation">
				<%= link_to "Sign In", "#" %>
			</li>
		</ul>
	</nav>
	<h3 class="text-muted">Grocery App</h3>
</div>
